$myColor: #ff5a5f;
$myWhite: #ffffffff;
$startColor: #672280;
$endColor: #a626d3;

* {
  box-sizing: border-box;
}
//Header Comp
.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 35px;
  color: $myWhite;
  background-image: linear-gradient(to right, $startColor, $endColor);

  .header_left {
    display: flex;
    h1 {
      margin-left: 10px;
    }
  }
}
main {
  padding: 36px;
}
.menu_form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  .menu_input {
    border-radius: 5px;
    border: 2px solid #d5d4d8;
    text-indent: 5px;
  }
  button {
    grid-column: 1 /-1;
    background-image: linear-gradient(to right, $startColor, $endColor);
    border: none;
    border-radius: 5px;
    color: $myWhite;
    font-size: 20px;
    cursor: pointer;
  }
}

.meme {
  position: relative;
  max-width: 1415px;
  max-height: 339px;
  margin-left: auto;
  margin-right: auto;
  .meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
      -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
      2px 2px 5px #000;
  }
  .bottom {
    bottom: 0;
  }

  .top {
    top: 0;
  }

  .meme--image {
    max-width: 550px;
    max-height: 550px;
    border-radius: 3px;
    margin-left: 30%;
    margin-right: 50%;
  }
}
